<footer class="footer-section text-white py-5">
  <div class="container text-center">
    <h1>Subscribe to our <span class="newsletter">Newsletter</span> and GetYourGig</h1>

    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="card border-0 rounded-3 shadow-lg">
          <div class="card-body p-4 p-sm-5">

            <div class="text-center mb-4">
            </div>

            <%= form_with model: Subscriber.new, url: subscribers_path, local: true do |f| %>
              <div class="row g-3">
                <div class="text-start col-md-6">
                  <%= f.label :first_name, class: "form-label" %>
                  <%= f.text_field :first_name, placeholder: "Jean", class: "form-control form-control-lg", required: true %>
                </div>
                <div class="text-start col-md-6">
                  <%= f.label :last_name, class: "form-label" %>
                  <%= f.text_field :last_name, placeholder: "van Freelance", class: "form-control form-control-lg", required: true %>
                </div>
              </div>

              <div class="text-start mt-3">
                <%= f.label :email, class: "form-label" %>
                <%= f.email_field :email, placeholder: "jean@workingdeveloper.com", class: "form-control form-control-lg", required: true %>
              </div>

              <div class="text-center mt-4">
                <%= f.submit "Mail me my gigs", class: "btn btn-primary" %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
