<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).presence || "GetYourGig | Find your next tech freelance gig" %></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="<%= yield(:description).presence || "Discover and apply for freelance gigs in tech, design, and development. GetYourGig connects talented freelancers with quality opportunities." %>">

  <meta property="og:title" content="<%= yield(:title).presence || "GetYourGig | Find your next tech freelance gig" %>">
  <meta property="og:description" content="<%= yield(:description).presence || "Discover and apply for freelance gigs in tech, design, and development." %>">
  <meta property="og:site_name" content="GetYourGig">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= request.original_url %>">

  <meta property="og:image" content="<%= yield(:image).presence || image_url('social_card.png') %>">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= yield(:title).presence || "GetYourGig | Find your next tech freelance gig" %>">
  <meta name="twitter:description" content="<%= yield(:description).presence || "Discover and apply for freelance gigs in tech, design, and development." %>">
  <meta name="twitter:image" content="<%= yield(:image).presence || image_url('social_card.png') %>">

  <%= favicon_link_tag 'favicon.png' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

  <body>

    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>


    <div class="all-content">
    <%= yield %>
    </div>

  <footer class="footer-content">
      <%= render "shared/prefooter" %>
      <div class="gradient-footer"></div>
      <%= render "shared/footer" %>
      <div class="bottom-footer">
        &copy; <%= Time.current.year %> GetYourGig. All rights reserved.
      </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" xintegrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
